.place__text {
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 27px;

}



@media screen and (max-width:1023px) {
    .place__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
    
}


@media screen and (max-width:767px) {
    .place__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        max-width: 288px;
    }
    
}