.root {
    background-color: #2A2C2F;
    font-family:  'Inter', Arial, sans-serif;;
    color: white;
}


.page {
    max-width: 1280px;
    margin: 0;
    margin: 0 auto;
}


.header {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 48px 0 48px;
}


.logo {
    max-width: 176px;
    max-height: 52px;
    justify-self: flex-start;

}



.header__links {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.header__link {
    margin-right: 18px;
    max-width: 30px;

}


.header__link:last-of-type {
    margin-right: 0;
}


.header__link-language {
    font-size: 24px;
    text-decoration: none;
    color: white;
}


.main {
    max-width: 984px;
    margin: 0 auto;
}


.lead {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    margin: 0 0 32px 0;
    text-align: center;
    max-width: 720px;
}


.lead__subtitle {
    margin: 0 0 64px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
}


.lead__image {
    max-width: 100%;
    margin: 0 148px;
}


.lead__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 8px 0 0 0;
    letter-spacing: 1.5px;
    align-self: flex-start;
    text-transform: uppercase;
}


.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 984px;
    margin: 0 auto;
    margin-top: 114px;

}


.intro__title {
    font-style: normal;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0 0 40px 0;
}


.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 690px;
    width: 100%;
    font-style: normal;
    margin: 0 0 33px 0;
}


.intro__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

}


.list__items {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}


.items__meaning {
    font-weight: normal;
}


.photo-grid {
    margin-top: 92px;
    max-width: 1184px;
    display: grid;
    justify-content: center;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



.photo {
    max-width: 284px;
}


.places {
    max-width: 100%;
    margin-top: 92px;
    display: flex;
    flex-direction:column;
}


.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
    margin-bottom: 80px;
}



.place__heading {
    margin: 0;
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
}


.place__url {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.url__heading {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}


.link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    color: white;
}


.place__image {
    max-width: 460px;
}


.place__paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.place__text {
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px 0;

}