.photo {
    max-width: 284px;
    transition: 1.7s, linear;
}


.photo:hover {
    transform: scale(1.2);
}



@media screen and (max-width:1279px) {
    .photo {
        max-width: none;
        width: 100%;
    }
    
}


@media screen and (max-width:1023px) {
    .photo {
        max-width: none;
        width: 100%;
    }
    
}



@media screen and (max-width:767px) {
    .photo {
        width: 100%;
    }
    
}