.cover__subtitle {
    margin: 32px 0 245px 0;
    z-index: 1;
    text-decoration: none;
    color: white;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;   
    pointer-events: none;
}



@media screen and (max-width:1279px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
    
}



@media screen and (max-width:767px) {
    .cover__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 0;
    }
    
}