.author {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}



@media screen and (max-width:321px) {
    .author {
        text-align: left;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
        width: 100%;
    }
}