.lead__title {
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 720px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}


@media screen and ( max-width: 321px) {
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
    
}


