.footer__link-meaning {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    transition: 0.3, linear;

}


.footer__link-meaning:hover {
    opacity: .8;
    cursor: pointer;
}



@media screen and (max-width:321px) {
    .footer__link-meaning {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
    }
    
}
